@using Tres.ReportViewers.Services
@using Tres.ReportViewers.Models

@namespace Tres.ReportViewers.Modules
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject HttpClient http
@inject SiteState sitestate

<Tres.ReportViewers.Modules.Controls.ReportTitle Title="@ReportTitle"></Tres.ReportViewers.Modules.Controls.ReportTitle>

<h4>Sales Report specific data</h4>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Region</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>North</td>
            <td>15,000</td>
        </tr>
        <tr>
            <td>South</td>
            <td>25,000</td>
        </tr>
    </tbody>
</table>

@code {
    public override bool UseAdminContainer => false;

    [Parameter]
    public string ReportTitle { get; set; }
}